.wrapper{
  display: flex;
}

.side_view{
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.side_top{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.side_main{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
}

.main_view{
  width: calc(100vw - 300px);
  background-color: #ffffff;
  height: 100vh;
}

.main_top{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.main_center{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0 40px;
}

.main_bottom{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}